.hero-body {
  justify-content: center;
}

#app {
  height: 100%;
}

input {
  text-align: center;
}

.select {
  margin: 10px;
}

.variables {
  display: flex;
  padding: 10px;
  justify-content: center;
}
